<a href="https://colab.research.google.com/github/thunde7226/CapstoneGoogleCyclist_Project/blob/main/December19_2022Pfinance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Using yfinance as yf
!pip install yfinance
import yfinance as yf

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.1-py2.py3-none-any.whl (50 kB)
     |████████████████████████████████| 50 kB 3.0 MB/s
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2022.6)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     |████████████████████████████████| 112 kB 9.6 MB/s
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.1-py3-none-any.whl (128 kB)
     |████████████████████████████████| 128 kB 64.2 MB/s
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (110 kB)
     |████████████████████████████████| 110 kB 58.6 MB/s
Collecting cryptography>=3.3.2
  Downloading cryptography-38.0.4-cp36-abi3-manylinux_2_24_x86_64.whl (4.0 MB)
     |████████████████████████████████| 4.0 MB 47.1 MB/s
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.2)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.3 MB/s
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Collecting soupsieve>1.2
  Downloading soupsieve-2.3.2.post1-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.8/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: pycparser in /usr/local/lib/python3.8/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Requirement already satisfied: webencodings in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.8/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Installing collected packages: soupsieve, requests, html5lib, frozendict, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed beautifulsoup4-4.11.1 cryptography-38.0.4 frozendict-2.3.4 html5lib-1.1 requests-2.28.1 soupsieve-2.3.2.post1 yfinance-0.2.1

In [4]:
import yfinance as yf

#get stock info
appl = yf.Ticker("appl")

In [5]:
#get historical market data
hist = appl.history(period="max")

#show actions (dividends, splits)
appl.actions  

#show dividends
appl.dividends

APPL: 1d data not available for startTime=-2208994789 and endTime=1671492785. Only 100 years worth of day granularity data are allowed to be fetched per request.
APPL: 1d data not available for startTime=-2208994789 and endTime=1671492785. Only 100 years worth of day granularity data are allowed to be fetched per request.
APPL: 1d data not available for startTime=-2208994789 and endTime=1671492785. Only 100 years worth of day granularity data are allowed to be fetched per request.

[]

In [6]:
goog = yf.Ticker("goog")

#get stock info
goog.info 

#get historical market data
hist = goog.history(period="max")

#show actions (dividends, splits)
goog.actions  

#show dividends
goog.dividends

Series([], Name: Dividends, dtype: float64)

In [7]:
#show financials
goog.financials
goog.quarterly_financials

#show major holders

goog.major_holders  

#show balance sheet
goog.balance_sheet
goog.quarterly_balancesheet

#show cashflow
goog.cashflow
goog.quarterly_cashflow

AttributeError: ignored

In [9]:
goog.quarterly_cashflow

,2022-09-30,2022-06-30,2022-03-31,2021-12-31,2021-09-30
Operating Cash Flow,23353000000.0,19422000000.0,25106000000.0,24934000000.0,25539000000.0
Cash Flow From Continuing Operating Activities,23353000000.0,19422000000.0,25106000000.0,24934000000.0,25539000000.0
Net Income From Continuing Operations,13910000000.0,16002000000.0,16436000000.0,20642000000.0,18936000000.0
Operating Gains Losses,1378000000.0,1041000000.0,1437000000.0,-2478000000.0,-2158000000.0
Gain Loss On Investment Securities,1378000000.0,1041000000.0,1437000000.0,-2478000000.0,-2158000000.0
Depreciation Amortization Depletion,4046000000.0,3899000000.0,3782000000.0,3439000000.0,3304000000.0
Depreciation And Amortization,4046000000.0,3899000000.0,3782000000.0,3439000000.0,3304000000.0
Depreciation,3933000000.0,3698000000.0,3591000000.0,3215000000.0,3085000000.0
Amortization Cash Flow,113000000.0,201000000.0,191000000.0,224000000.0,219000000.0
Amortization Of Intangibles,113000000.0,201000000.0,191000000.0,224000000.0,219000000.0
Deferred Tax,-1920000000.0,-2147000000.0,-2090000000.0,1616000000.0,-1287000000.0
Deferred Income Tax,-1920000000.0,-2147000000.0,-2090000000.0,1616000000.0,-1287000000.0
Stock Based Compensation,4976000000.0,4782000000.0,4504000000.0,3954000000.0,3874000000.0
Other Non Cash Items,167000000.0,62000000.0,140000000.0,-14000000.0,64000000.0
Change In Working Capital,796000000.0,-4217000000.0,897000000.0,-2225000000.0,2806000000.0
Change In Receivables,-97000000.0,-1969000000.0,4364000000.0,-5819000000.0,-2409000000.0
Changes In Account Receivables,-97000000.0,-1969000000.0,4364000000.0,-5819000000.0,-2409000000.0
Change In Payables And Accrued Expense,4037000000.0,2584000000.0,-6417000000.0,6994000000.0,3157000000.0
Change In Payable,1907000000.0,1201000000.0,-2373000000.0,1157000000.0,238000000.0
Change In Account Payable,1907000000.0,1201000000.0,-2373000000.0,1157000000.0,238000000.0
Change In Accrued Expense,2130000000.0,1383000000.0,-4044000000.0,5837000000.0,2919000000.0
Change In Other Current Assets,-2647000000.0,-845000000.0,-776000000.0,-399000000.0,-1255000000.0
Change In Other Working Capital,-497000000.0,-3987000000.0,3726000000.0,-3001000000.0,3313000000.0
Investing Cash Flow,-833000000.0,-4187000000.0,-9051000000.0,-11016000000.0,-10050000000.0
Cash Flow From Continuing Investing Activities,-833000000.0,-4187000000.0,-9051000000.0,-11016000000.0,-10050000000.0
Net PPE Purchase And Sale,-7276000000.0,-6828000000.0,-9786000000.0,-6383000000.0,-6819000000.0
Purchase Of PPE,-7276000000.0,-6828000000.0,-9786000000.0,-6383000000.0,-6819000000.0
Net Business Purchase And Sale,-5649000000.0,-1063000000.0,-173000000.0,-385000000.0,-259000000.0
Purchase Of Business,-5649000000.0,-1063000000.0,-173000000.0,-385000000.0,-259000000.0
Net Investment Purchase And Sale,11301000000.0,3483000000.0,553000000.0,-4348000000.0,-3360000000.0
Purchase Of Investment,-17418000000.0,-22225000000.0,-29238000000.0,-40860000000.0,-35153000000.0
Sale Of Investment,28719000000.0,25708000000.0,29791000000.0,36512000000.0,31793000000.0
Net Other Investing Changes,791000000.0,221000000.0,355000000.0,100000000.0,388000000.0
Financing Cash Flow,-18097000000.0,-17817000000.0,-16214000000.0,-16511000000.0,-15254000000.0
Cash Flow From Continuing Financing Activities,-18097000000.0,-17817000000.0,-16214000000.0,-16511000000.0,-15254000000.0
Net Issuance Payments Of Debt,-674000000.0,-356000000.0,2000000.0,-115000000.0,-42000000.0
Net Long Term Debt Issuance,-674000000.0,-356000000.0,2000000.0,-115000000.0,-42000000.0
Long Term Debt Issuance,15094000000.0,12806000000.0,16422000000.0,6250000000.0,6350000000.0
Long Term Debt Payments,-15768000000.0,-13162000000.0,-16420000000.0,-6365000000.0,-6392000000.0
Net Common Stock Issuance,-15392000000.0,-15197000000.0,-13300000000.0,-13473000000.0,-12610000000.0
Common Stock Payments,-15392000000.0,-15197000000.0,-13300000000.0,-13473000000.0,-12610000000.0
Proceeds From Stock Option Exercised,-2041000000.0,-2264000000.0,-2916000000.0,-2923000000.0,-2602000000.0
Net Other Financing Charges,10000000.0,NaN,NaN,0.0,0.0
End Cash Position,21984000000.0,17936000000.0,20886000000.0,20945000000.0,23719000000.0
Changes In Cash,4423000000.0,-2582000000.0,-159000000.0,-2593000000.0,235000000.0
Effect Of Exchange Rate Changes,-375000000.0,-368000000.0,100000000.0,-181000000.0,-146000000.0
Beginning Cash Position,17936000000.0,20886000000.0,20945000000.0,23719000000.0,23630000000.0
Capital Expenditure,-7276000000.0,-6828000000.0,-9786000000.0,-6383000000.0,-6819000000.0
Issuance Of Debt,15094000000.0,12806000000.0,16422000000.0,6250000000.0,6350000000.0
Repayment Of Debt,-15768000000.0,-13162000000.0,-16420000000.0,-6365000000.0,-6392000000.0
Repurchase Of Capital Stock,-15392000000.0,-15197000000.0,-13300000000.0,-13473000000.0,-12610000000.0
Free Cash Flow,16077000000.0,12594000000.0,15320000000.0,18551000000.0,18720000000.0

In [10]:
goog.recommendations

                                         Firm    To Grade From Grade Action
Date
2012-03-14 15:28:00                Oxen Group        Hold              init
2012-03-28 06:29:00                 Citigroup         Buy              main
2012-04-03 08:45:00  Global Equities Research  Overweight              main
2012-04-05 06:34:00             Deutsche Bank         Buy              main
2012-04-09 06:03:00          Pivotal Research         Buy              main
...                                       ...         ...        ...    ...
2022-10-26 11:24:15             Raymond James  Outperform              main
2022-10-26 12:01:21               Cowen & Co.  Outperform              main
2022-10-26 12:05:10             Deutsche Bank         Buy              main
2022-10-26 12:12:24               Oppenheimer  Outperform              main
2022-11-30 11:08:27          Societe Generale         Buy              main

[267 rows x 4 columns]

In [11]:
goog.calendar

                                    0                    1
Earnings Date     2023-01-30 21:00:00  2023-02-03 21:00:00
Earnings Average                 1.21                 1.21
Earnings Low                     0.96                 0.96
Earnings High                    1.38                 1.38
Revenue Average           76786000000          76786000000
Revenue Low               72291000000          72291000000
Revenue High              79192000000          79192000000

In [14]:
#get option chain for specific expiration
opt = goog.option_chain('2022-12-23')

In [15]:
import yfinance as yf
data = yf.download("TSLA GOOG", start="2020-09-01", end= "2021-03-01")

[*********************100%***********************]  2 of 2 completed

In [16]:
data = yf.download("AMZN GOOG META", start="2021-05-01", end="2021-07-17")
data

[*********************100%***********************]  3 of 3 completed

             Adj Close                               Close              \
                  AMZN        GOOG        META        AMZN        GOOG
Date
2021-05-03  169.324493  119.758499  322.579987  169.324493  119.758499
2021-05-04  165.593506  117.712502  318.359985  165.593506  117.712502
2021-05-05  163.526993  117.836998  315.019989  163.526993  117.836998
2021-05-06  165.318497  119.067497  320.019989  165.318497  119.067497
2021-05-07  164.580505  119.934502  319.079987  164.580505  119.934502
2021-05-10  159.524506  117.083000  305.970001  159.524506  117.083000
2021-05-11  161.195496  115.438004  306.529999  161.195496  115.438004
2021-05-12  157.597000  111.954002  302.549988  157.597000  111.954002
2021-05-13  158.073502  113.098503  305.260010  158.073502  113.098503
2021-05-14  161.145004  115.807999  315.940002  161.145004  115.807999
2021-05-17  163.519501  116.070503  315.459991  163.519501  116.070503
2021-05-18  161.613998  115.171501  309.959991  161.613998  115.171501
2021-05-19  161.589996  115.435501  313.589996  161.589996  115.435501
2021-05-20  162.384003  117.804497  318.609985  162.384003  117.804497
2021-05-21  160.154007  117.254997  316.230011  160.154007  117.254997
2021-05-24  162.249496  120.333504  324.630005  162.249496  120.333504
2021-05-25  162.952499  120.453499  327.790009  162.952499  120.453499
2021-05-26  163.257996  121.676498  327.660004  163.257996  121.676498
2021-05-27  161.505493  120.125504  332.750000  161.505493  120.125504
2021-05-28  161.153503  120.578003  328.730011  161.153503  120.578003
2021-06-01  160.932495  121.490501  329.130005  160.932495  121.490501
2021-06-02  161.699493  121.064003  329.149994  161.699493  121.064003
2021-06-03  159.350494  120.230499  326.040009  159.350494  120.230499
2021-06-04  160.311005  122.587997  330.350006  160.311005  122.587997
2021-06-07  159.900497  123.304497  336.579987  159.900497  123.304497
2021-06-08  163.205505  124.142502  333.679993  163.205505  124.142502
2021-06-09  164.057495  124.570000  330.250000  164.057495  124.570000
2021-06-10  167.482498  126.080002  332.459991  167.482498  126.080002
2021-06-11  167.341507  125.696503  331.260010  167.341507  125.696503
2021-06-14  169.193497  126.351997  336.769989  169.193497  126.351997
2021-06-15  169.156494  126.032997  336.750000  169.156494  126.032997
2021-06-16  170.762497  125.696503  331.079987  170.762497  125.696503
2021-06-17  174.462006  126.371002  336.510010  174.462006  126.371002
2021-06-18  174.345001  125.567497  329.660004  174.345001  125.567497
2021-06-21  172.697998  126.455002  332.290009  172.697998  126.455002
2021-06-22  175.272003  126.999496  339.029999  175.272003  126.999496
2021-06-23  175.190994  126.461502  340.589996  175.190994  126.461502
2021-06-24  172.453995  127.281998  343.179993  172.453995  127.281998
2021-06-25  170.072998  126.995003  341.369995  170.072998  126.995003
2021-06-28  172.194504  126.819504  355.640015  172.194504  126.819504
2021-06-29  172.406998  126.018501  351.890015  172.406998  126.018501
2021-06-30  172.007996  125.316002  347.709991  172.007996  125.316002
2021-07-01  171.648499  126.368500  354.390015  171.648499  126.368500
2021-07-02  175.548996  128.718994  354.700012  175.548996  128.718994
2021-07-06  183.787003  129.770996  352.779999  183.787003  129.770996
2021-07-07  184.828995  130.077499  350.489990  184.828995  130.077499
2021-07-08  186.570496  129.177002  345.649994  186.570496  129.177002
2021-07-09  185.966995  129.574493  350.420013  185.966995  129.574493
2021-07-12  185.927505  130.563995  353.160004  185.927505  130.563995
2021-07-13  183.867996  130.994507  352.089996  183.867996  130.994507
2021-07-14  184.084000  132.082504  347.630005  184.084000  132.082504
2021-07-15  181.559998  131.266495  344.459991  181.559998  131.266495
2021-07-16  178.681503  131.845505  341.160004  178.681503  131.845505

                              High                                 Low  \
                  META        AMZN        GOOG        META        AMZN
Date
2021-05-03  322.579987  174.332504  120.985001  328.549988  168.634995
2021-05-04  318.359985  168.399002  118.962997  322.190002  163.606506
2021-05-05  315.019989  167.735001  119.110001  321.059998  163.218002
2021-05-06  320.019989  165.720001  119.135498  320.239990  162.360001
2021-05-07  319.079987  166.544495  120.820503  322.940002  164.453506
2021-05-10  305.970001  164.149994  118.900002  314.579987  159.500000
2021-05-11  306.529999  161.899994  116.099998  306.839996  156.368500
2021-05-12  302.549988  160.397003  114.268501  304.959991  156.654999
2021-05-13  305.260010  160.192001  113.830048  308.859985  156.649994
2021-05-14  315.940002  161.442993  116.056999  316.850006  159.149994
2021-05-17  315.459991  164.637497  116.167000  315.679993  161.729507
2021-05-18  309.959991  165.600006  117.157501  316.500000  161.518494
2021-05-19  313.589996  161.737503  115.837997  314.660004  159.199997
2021-05-20  318.609985  162.983994  118.016998  319.250000  161.809006
2021-05-21  316.230011  162.834503  118.449997  319.929993  159.850494
2021-05-24  324.630005  162.897507  120.924004  325.950012  160.524994
2021-05-25  327.790009  163.990997  121.644501  329.179993  160.688004
2021-05-26  327.660004  164.786499  122.147202  329.829987  162.925507
2021-05-27  332.750000  163.018005  122.000000  333.779999  161.501999
2021-05-28  328.730011  162.399506  121.406998  332.869995  160.985001
2021-06-01  329.130005  162.548996  121.898552  331.420013  160.453003
2021-06-02  329.149994  161.750000  122.099998  331.869995  160.399994
2021-06-03  326.040009  160.722000  120.487251  327.380005  159.201508
2021-06-04  330.350006  161.050003  122.692947  332.459991  159.940506
2021-06-07  336.579987  160.399994  123.400002  337.690002  158.610001
2021-06-08  333.679993  163.976501  124.724747  338.299988  160.900497
2021-06-09  330.250000  164.878998  125.250000  336.799988  163.535004
2021-06-10  332.459991  167.550003  126.163002  333.940002  164.057495
2021-06-11  331.260010  168.328995  126.349503  332.829987  166.672501
2021-06-14  336.769989  169.250000  126.411499  336.820007  166.774994
2021-06-15  336.750000  169.849503  126.862000  339.920013  168.155502
2021-06-16  331.079987  171.317505  126.523499  337.549988  168.026505
2021-06-17  336.510010  174.860001  127.196503  337.980011  170.050003
2021-06-18  329.660004  175.350006  126.389000  336.149994  173.685501
2021-06-21  332.290009  174.100006  127.036751  332.920013  171.699997
2021-06-22  339.029999  176.188995  127.269997  339.920013  172.804504
2021-06-23  340.589996  176.050003  127.795998  343.420013  174.160004
2021-06-24  343.179993  176.242996  127.535500  344.899994  171.542496
2021-06-25  341.369995  173.240997  127.504997  344.119995  169.709000
2021-06-28  355.640015  172.399994  127.336998  358.140015  170.675507
2021-06-29  351.890015  172.801498  127.000000  356.739990  171.151505
2021-06-30  347.709991  173.580002  125.800003  352.920013  171.750000
2021-07-01  354.390015  172.850006  126.462502  354.670013  170.470993
2021-07-02  354.700012  175.585999  128.848007  356.440002  171.845993
2021-07-06  352.779999  184.274002  129.884506  358.790009  176.449997
2021-07-07  350.489990  186.710007  130.639893  356.489990  183.945496
2021-07-08  345.649994  187.999496  130.032501  348.329987  181.056000
2021-07-09  350.420013  187.399994  129.849503  350.709991  184.669998
2021-07-12  353.160004  187.864502  130.770004  354.190002  184.839493
2021-07-13  352.089996  188.654007  132.042007  358.489990  183.565994
2021-07-14  347.630005  185.882996  132.996002  355.200012  183.041504
2021-07-15  344.459991  184.770004  132.595001  349.230011  181.046005
2021-07-16  341.160004  182.302994  132.182999  345.989990  178.522995

                                          Open                          \
                  GOOG        META        AMZN        GOOG        META
Date
2021-05-03  119.224998  321.839996  174.236496  120.136002  326.170013
2021-05-04  115.584999  313.119995  167.809494  118.487000  320.019989
2021-05-05  117.570503  314.489990  166.942993  118.420998  318.190002
2021-05-06  117.116898  313.269989  163.500000  117.531998  314.519989
2021-05-07  119.500000  318.750000  165.954498  120.000000  322.380005
2021-05-10  116.736504  304.829987  164.115997  118.744499  314.350006
2021-05-11  114.150002  299.690002  156.813995  114.593002  300.750000
2021-05-12  111.502502  298.190002  159.250000  113.085503  301.130005
2021-05-13  112.136002  302.769989  159.273499  113.054497  306.079987
2021-05-14  114.166000  309.079987  159.278000  114.591499  309.540009
2021-05-17  114.750000  311.579987  162.296494  115.466003  313.549988
2021-05-18  115.157997  309.809998  164.628998  116.845299  315.589996
2021-05-19  113.176003  303.570007  159.750000  113.220001  304.190002
2021-05-20  116.054497  313.160004  162.220001  116.402000  313.579987
2021-05-21  117.118500  315.809998  162.500000  118.299500  319.290009
2021-05-24  118.005501  318.029999  160.774994  118.349998  318.209991
2021-05-25  120.149498  324.799988  163.333496  121.000000  327.079987
2021-05-26  120.625748  325.820007  163.729507  120.641747  328.350006
2021-05-27  120.099998  326.760010  162.800003  121.847000  328.000000
2021-05-28  120.384499  328.329987  162.100006  121.098000  331.000000
2021-06-01  120.244003  326.640015  162.175003  121.099998  330.149994
2021-06-02  120.209999  327.119995  161.154999  121.765503  330.380005
2021-06-03  119.141502  323.480011  160.211502  119.750999  325.779999
2021-06-04  120.888496  325.179993  160.600006  121.125999  325.899994
2021-06-07  122.053650  328.929993  159.866501  122.566002  329.480011
2021-06-08  123.412003  332.239990  161.130493  123.995003  336.700012
2021-06-09  124.366501  330.000000  163.643494  124.974998  335.739990
2021-06-10  124.699997  328.549988  164.100494  124.700500  330.790009
2021-06-11  124.914497  328.929993  167.482498  126.246002  332.579987
2021-06-14  125.046997  329.809998  167.341507  125.669502  331.899994
2021-06-15  125.648499  335.029999  169.199997  126.522003  336.989990
2021-06-16  124.149948  328.720001  169.600006  126.247498  336.700012
2021-06-17  125.514999  330.149994  170.158997  125.523003  330.489990
2021-06-18  124.602997  329.000000  173.999496  125.705498  334.529999
2021-06-21  125.134247  327.649994  173.820999  125.739998  331.089996
2021-06-22  126.026497  332.600006  172.903000  126.449997  332.690002
2021-06-23  126.251999  338.200012  175.250000  126.550003  339.350006
2021-06-24  126.959999  341.790009  175.382004  127.053497  341.850006
2021-06-25  126.444000  339.679993  173.199997  126.957001  342.589996
2021-06-28  125.973801  341.769989  170.800003  127.000000  342.459991
2021-06-29  125.436996  349.049988  171.940994  126.772499  356.269989
2021-06-30  124.757500  347.170013  172.052994  125.653549  352.170013
2021-07-01  124.849747  346.500000  171.730499  124.849747  346.820007
2021-07-02  126.768997  352.619995  172.582001  126.839500  355.100006
2021-07-06  128.408997  349.179993  176.505493  129.449493  356.500000
2021-07-07  129.759995  350.000000  185.869003  130.341003  355.260010
2021-07-08  128.039993  342.559998  182.177994  128.250000  345.730011
2021-07-09  128.943497  345.269989  186.126007  128.944504  345.320007
2021-07-12  129.600006  349.640015  187.199997  129.833496  351.230011
2021-07-13  130.636993  348.799988  185.104996  130.881500  351.500000
2021-07-14  131.897995  346.730011  185.442505  131.901505  354.559998
2021-07-15  130.598007  340.220001  184.710007  132.500000  349.230011
2021-07-16  130.821503  340.140015  181.665497  131.641006  344.910004

               Volume
                 AMZN      GOOG      META
Date
2021-05-03  117510000  33788000  18719500
2021-05-04  108788000  35120000  24032600
2021-05-05   74226000  21806000  15577600
2021-05-06   88954000  20618000  19012200
2021-05-07   94206000  23272000  15916700
2021-05-10  116772000  26006000  24239200
2021-05-11   92396000  32110000  18920100
2021-05-12   98728000  34934000  24645500
2021-05-13   67018000  26670000  18079200
2021-05-14   66500000  26624000  19245700
2021-05-17   74478000  19842000  15401300
2021-05-18   56568000  17302000  14522400
2021-05-19   53594000  19350000  19106200
2021-05-20   52664000  23832000  17320200
2021-05-21   82098000  22832000  13600900
2021-05-24   48456000  21244000  16445400
2021-05-25   65222000  18838000  16437000
2021-05-26   47680000  21856000   9686900
2021-05-27   51224000  38962000  20477700
2021-05-28   46596000  24108000  12037400
2021-06-01   48600000  19166000  11765900
2021-06-02   40290000  17158000  11654300
2021-06-03   47966000  18346000  12610800
2021-06-04   44994000  25948000  13289400
2021-06-07   44316000  23850000  20136700
2021-06-08   68334000  25060000  14580500
2021-06-09   49110000  20126000  13727900
2021-06-10   69530000  31234000  13240200
2021-06-11   56348000  25240000  13587900
2021-06-14   51394000  22550000  12250800
2021-06-15   48524000  22182000  15795200
2021-06-16   84056000  26316000  17232200
2021-06-17  102730000  25756000  17794100
2021-06-18  104954000  53306000  23039500
2021-06-21   65542000  26256000  11337500
2021-06-22   66902000  20984000  15345300
2021-06-23   56266000  19694000  14817800
2021-06-24   76640000  18934000  12329100
2021-06-25   78820000  33484000  14594400
2021-06-28   44856000  28110000  29156100
2021-06-29   41968000  20950000  21417300
2021-06-30   48080000  24006000  15107500
2021-07-01   40742000  17120000  17137000
2021-07-02   63388000  21160000  11521300
2021-07-06  134896000  21350000  13488500
2021-07-07  106562000  16680000  14218900
2021-07-08  103612000  19780000  14406500
2021-07-09   74964000  15106000  13018700
2021-07-12   51432000  16944000  10018600
2021-07-13   76918000  16618000  11456000
2021-07-14   65932000  17912000  13894200
2021-07-15   63706000  16586000  14781600
2021-07-16   80874000  14856000  11026100

In [18]:
data = yf.download("AMZN GOOG TSLA", start="2018-05-01", end="2018-09-15", group_by='tickers')
data

[*********************100%***********************]  3 of 3 completed

                 GOOG                                                        \
                 Open       High        Low      Close  Adj Close    Volume
Date
2018-05-01  50.682999  51.923500  50.410500  51.865501  51.865501  28558000
2018-05-02  51.404999  52.019451  51.143501  51.219002  51.219002  32062000
2018-05-03  50.950001  51.483749  50.314499  51.186001  51.186001  36302000
2018-05-04  50.845001  52.425499  50.845001  52.410500  52.410500  38774000
2018-05-07  52.461498  53.084000  52.355000  52.739498  52.739498  29322000
...               ...        ...        ...        ...        ...       ...
2018-09-10  58.609501  58.727001  58.005501  58.231998  58.231998  22308000
2018-09-11  58.081501  58.933998  57.812000  58.868000  58.868000  24186000
2018-09-12  58.636002  58.930500  57.917999  58.140999  58.140999  25910000
2018-09-13  58.536999  58.930500  58.142502  58.766499  58.766499  28624000
2018-09-14  58.955002  59.021252  58.416500  58.626499  58.626499  18880000

                  AMZN                                               \
                  Open        High        Low      Close  Adj Close
Date
2018-05-01   78.161003   79.250000  77.609001  79.112999  79.112999
2018-05-02   79.049004   79.425003  78.318001  78.484001  78.484001
2018-05-03   78.000504   78.739998  77.301003  78.603996  78.603996
2018-05-04   78.122498   79.245003  78.109497  79.047501  79.047501
2018-05-07   79.467003   80.347504  79.391502  80.007004  80.007004
...                ...         ...        ...        ...        ...
2018-09-10   98.550003   98.652000  96.575996  96.950500  96.950500
2018-09-11   96.413498   99.444000  95.849998  99.357498  99.357498
2018-09-12   99.699997  100.000000  98.122002  99.500000  99.500000
2018-09-13  100.000000  100.438004  99.101501  99.493500  99.493500
2018-09-14   99.646500   99.682503  97.960999  98.509499  98.509499

                            TSLA                                              \
               Volume       Open       High        Low      Close  Adj Close
Date
2018-05-01   91442000  19.567333  20.054667  19.548000  19.994667  19.994667
2018-05-02   87206000  19.904667  20.456667  19.851999  20.076668  20.076668
2018-05-03   85038000  18.586000  19.202667  18.348667  18.963333  18.963333
2018-05-04   68872000  18.866667  19.790667  18.634666  19.606001  19.606001
2018-05-07   76038000  19.833332  20.397333  19.677999  20.184668  20.184668
...               ...        ...        ...        ...        ...        ...
2018-09-10   90896000  18.217333  19.068666  18.066668  19.033333  19.033333
2018-09-11  100672000  18.631332  18.799999  18.236668  18.629333  18.629333
2018-09-12   88280000  18.762667  19.500000  18.576668  19.369333  19.369333
2018-09-13   72430000  19.201332  19.666668  19.011999  19.297333  19.297333
2018-09-14   72840000  19.250668  19.822001  19.101334  19.680000  19.680000


               Volume
Date
2018-05-01   69384000
2018-05-02  134556000
2018-05-03  260281500
2018-05-04  128541000
2018-05-07  130173000
...               ...
2018-09-10  214252500
2018-09-11  137550000
2018-09-12  150231000
2018-09-13   95104500
2018-09-14  101484000

[96 rows x 18 columns]